.home {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;

    .left-view {
        margin-top: 0rem;
        padding: 0;
        background: #FF6600;
        color: #fff;
        width: 50%;
        height: 100vh;
        position: relative;
        z-index: 1000;

        .left-view-content {
            position: relative;
            top: 40%;
            text-align: center;

            h1 {
                font-weight: lighter;
                letter-spacing: .3rem;
            }

            p {
                font-size: .8rem;
            }
        }

        .left-view-footer {
            position: absolute;
            bottom: 0;
            margin-bottom: 1.5rem;
            z-index: -1;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 6rem;

                li {
                    margin-left: 3rem;
                    font-size: .8rem;
                }
            }
        }
    }




    // start right view

    .right-view {
        width: 50%;
        height: 100vh;
        position: relative;
        top: 40%;

        .right-view-login {
            display: flex;
            justify-content: center;
        }

    }
}

.cartoon-background {
    background: url("../../components/images/cartoon.png");
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 1000;

}




@media(max-width:768px) {

    .home {
        display: flex;
        flex-direction: column;

        .left-view {
            width: 100%;
            height: 48vh;

            .left-view-footer {
                background-color: #FF6600 !important;
                width: 100%;
                position:  absolute;
            }
        }

        .right-view {
            width: 100%;
            height: 50vh;
        }
    }
}

@media(max-width:1200px) {

    .left-view-footer {
        bottom: 0;

        ul {
            display: flex;
            list-style: none;
            padding-left: 0rem !important;

            li {
                font-size: .6rem !important;
            }
        }
    }
}

@media(max-width:1400px) {

    .left-view-footer {
        bottom: 0;

        ul {
            display: flex;
            list-style: none;
            padding-left: 0rem !important;

            li {
                margin-left: 1rem !important;
                font-size: .8rem;
            }
        }
    }
}


.cartoon {
    height: 340px;
}

.cartoon-contain {
    position: absolute;
    z-index: -1;
    top: 50%;
    // width: 35%;
}



@media(max-width:"768px") {
    .cartoon {
        display: none;
    }
}

@media(max-width:"900px") {
    .cartoon {
        width: 350px !important;
        // margin-left: 0rem;
    }

}

@media(max-width:"1100px") {
    .cartoon {
        width: 400px;
    }

    .cartoon-contain {
        width: 30%;
    }
}

@media(max-width:"1400px") {
    .cartoon {
        width: 500px;
        // margin-left: 2rem;
    }

    // .cartoon-contain {
    //     width: 30%;
    // }
}