.home {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .left-view {
  margin-top: 0rem;
  padding: 0;
  background: #FF6600;
  color: #fff;
  width: 50%;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

.home .left-view .left-view-content {
  position: relative;
  top: 40%;
  text-align: center;
}

.home .left-view .left-view-content h1 {
  font-weight: lighter;
  letter-spacing: .3rem;
}

.home .left-view .left-view-content p {
  font-size: .8rem;
}

.home .left-view .left-view-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
  z-index: -1;
}

.home .left-view .left-view-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 6rem;
}

.home .left-view .left-view-footer ul li {
  margin-left: 3rem;
  font-size: .8rem;
}

.home .right-view {
  width: 50%;
  height: 100vh;
  position: relative;
  top: 40%;
}

.home .right-view .right-view-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartoon-background {
  background: url("../../components/images/cartoon.png");
  position: fixed;
  top: 40%;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .left-view {
    width: 100%;
    height: 48vh;
  }
  .home .left-view .left-view-footer {
    background-color: #FF6600 !important;
    width: 100%;
  }
  .home .right-view {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 1200px) {
  .left-view-footer {
    bottom: 0;
  }
  .left-view-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0rem !important;
  }
  .left-view-footer ul li {
    margin-left: 1rem !important;
    font-size: .6rem !important;
  }
}

@media (max-width: 1400px) {
  .left-view-footer {
    bottom: 0;
  }
  .left-view-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0rem !important;
  }
  .left-view-footer ul li {
    margin-left: 1rem !important;
    font-size: .8rem;
  }
}

.cartoon {
  height: 390px;
}

.cartoon-contain {
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 35%;
}

@media (max-width: 768px) {
  .cartoon {
    display: none;
  }
}

@media (max-width: 900px) {
  .cartoon {
    width: 250px !important;
    margin-left: 0rem;
  }
}

@media (max-width: 1100px) {
  .cartoon {
    width: 400px;
  }
  .cartoon-contain {
    width: 30%;
  }
}

@media (max-width: 1400px) {
  .cartoon {
    width: 500px;
    margin-left: 2rem;
  }
  .cartoon-contain {
    width: 30%;
  }
}
/*# sourceMappingURL=Home.css.map */